body{
    background-image: url(../images/Main/main.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron{
    background-image: url(../images/Hero-banner/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.prof-avatar{
    max-width: 70%;
}

.card-header{
    color: rgb(185, 118, 31);
}

.skill-card{
    max-width: 8rem;
}

.box-shadow-hover:hover {
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.25);
    background-color: antiquewhite;
}  
  
  
  
  
  